<h2>Add a New Song</h2>


<form method="POST" action="/songs">

    <div class="form-group">
        <label for="name">Title</label>
        <input type="text" name="name" id="name" placeholder="name">
    </div>

       <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" name="artist" id="artist" placeholder="artist">
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" placeholder="genre">
    </div>

    <div class="form-group">
        <label for="tempo">Tempo</label>
        <input type="text" name= "tempo" id="tempo" placeholder="tempo">
    </div>

       <div class="form-group">
        <label for="name">File</label>
        <input type="text" name="file" id="file" placeholder="file">
    </div>

    <input type="submit" class="btn btn-primary" value="Create Song" />

</form>
