<h2>Create New Playlist</h2>

<form method="POST" action="/users/{{user._id}}/playlists">

    <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" placeholder="name">
    </div>

    <div class="form-group">
        <label for="genre" class="form-label">Genre</label>
        <select class="custom-select" name="genre" id="genre">
            <option selected>Genre</option>
            <option>Alternative</option>
            <option>Hip Hop</option>
            <option>Pop</option>
            <option>Electronic</option>
            <option>Rock</option>
            <option>Jazz</option>
            <option>Reggae</option>
            <option>Classical</option>
        </select>
    </div>

    <div class="form-group">
        <label for="tempo" class="form-label">Tempo</label>
        <select class="custom-select" name= "tempo" id="tempo">
            <option selected>Tempo</option>
            <option>Slow</option>
            <option>Medium</option>
            <option>Fast</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary" value="Create Playlist" />

</form>
