<h2>all users</h2>

{{#each users}}

<ul>
<li><a href="/users/{{_id}}">{{name}}</a></li>
<li>{{username}}</li>
<li>{{password}}</li>
</ul>


{{/each}}

<a href="/users/new" class="badge badge-success">Add New User</a>