<h2>ALL USERS</h2>

{{#each users}}

<ul class="list-group list-group-flush">
<li><a href="/users/{{_id}}/playlists">{{name}}</a></li>
<li class="font-weight-bold">{{username}}</li>
</ul>


{{/each}}

<a href="/users/new">Add New User</a>