

<h2>User Profile</h2>

{{!-- {{#each user}} --}}
<ul>

<li>Name: {{user.name}}</li>

<li>Username: {{user.username}}</li>

<li>Password: {{user.password}}</li>
</ul>





{{!-- {{/each}} --}}


 <form action="/users/{{user._id}}?_method=DELETE" method="POST">
<input type="submit"  class="btn btn-danger" value="Delete User">
</form>
